<div class="text-danger">Upon successful placement of order, a pop-up will appear</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cum. Price (GHS)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of cart">
      <td>{{ x.name }}</td>
      <td>{{ +x.price * x.quantity }}</td>
    </tr>

    <div class="container">
      <form>
        <div class="form-group" style="margin-top: 6vw;">
          <label for="additional">Any additional requests/info?</label><br>
          <span class="text-danger">Requests for extra cheese, meat etc. costs GHS 7.00 more for each pizza.
            This won't be reflected in the total amount so kindly add it when making payment.
          </span><br>
          <input type="text" style="height: 8vh; width: 55vw;" name="addi" class="form-control" id="additional"
          [(ngModel)]="addiInfo">
        </div>

        <div class="form-group" style="margin-top: 2vw; margin-bottom: 3vw;">
          <span>Do you want it to be delivered to you? </span><br>
          <input type="checkbox" value="Delivery" name="deliver" [(ngModel)]="isDeliver">
          <label for="deliver"> Delivery</label><br>
        </div>

        <div class="form-group mb-5" *ngIf="isDeliver">
          <label for="location"> Delivery address and number to call</label><br>
          <input type="text" class="form-control" id="location" name="addre" [(ngModel)]="address">
        </div>
      </form>
    </div>
  </tbody>
  <tfoot>
    <tr>
      <td>Total Amt. (GHS): {{ total }}</td>
      <div style="float: right">
        <td><button class="btn btn-primary"><a
          style="color: white; text-decoration:none;" (click)="placeOrder()">Place order</a></button>
        </td><br>

        <td><button class="btn btn-primary"><a
          style="color: white; text-decoration:none;" (click)="clearCart()">Clear Cart</a></button>
        </td><br>

        <td><button class="btn btn-primary"><a style="color: white; text-decoration:none;"
          href="https://paystack.com/pay/hostelcrustpay">Make Payment</a></button>
        </td>
      </div>
    </tr>
  </tfoot>
</table>


