<div class="bigcontainer container mb-4 mt-3">
    <div class="row container" style="background-color:darksalmon">
      <div class="col-6 imgHalf">
        <img src="https://cdn.pixabay.com/photo/2020/05/17/04/22/pizza-5179939_960_720.jpg" alt="Pizza image"
        style="width: 40vw; margin-left:-3vw; height:100%; opacity: 60%;">
      </div>
      <div class="col-12 col-lg-6" style="text-align: center; font-style: italic;">
        <div class="row mt-5">
          <h2 id="header"><strong>Sign up</strong></h2>
        </div>
        <div class="row">
          <p id="msg">Sign up to create an Account</p>
        </div>

        <!-- Form -->
        <div class="row m-auto form-container">
          <form #registerForm="ngForm" novalidate (ngSubmit)="onSubmit(registerInfo, registerForm)"
          class="col-12">
            <div class="form-group mb-3 mt-3">
              <div class="form-floating">
                <input #name="ngModel" required name="firstname" id="firstname" type="text" class="form-control" [(ngModel)]="registerInfo.FirstName"
                [class.is-invalid]="name.touched && name.invalid" placeholder="First name">
                <label for="firstname">Firstname</label>
              </div>


              <span *ngIf="name.touched && name.invalid" class="text-danger">Field is required</span>
            </div>

            <div class="form-group mb-3">
              <div class="form-floating">
                <input #lname="ngModel" required name="lastname" id="lastname" type="text" class="form-control" [(ngModel)]="registerInfo.LastName"
                [class.is-invalid]="lname.touched && lname.invalid" placeholder="Last name">
                <label for="lastname">Lastname</label>
              </div>

              <span *ngIf="lname.touched && lname.invalid" class="text-danger">Field is required</span>
            </div>

            <div class="form-group mb-3">
              <div class="form-floating">
                <input #email="ngModel" required name="email" type="email" class="form-control" [(ngModel)]="registerInfo.Email"
                [class.is-invalid]="email.touched && email.invalid" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email">
                <label>Email Address</label>
              </div>

              <div *ngIf="email.errors && email.touched">
                <span *ngIf="email.errors['required']" class="text-danger">Field is required</span>
                <span *ngIf="email.errors['pattern']" class="text-danger">Invalid email</span>
              </div>
            </div>

            <div class="form-group mb-3">
              <div class="form-floating">
                <input #phone="ngModel" required name="mobile" type="phone" class="form-control" [(ngModel)]="registerInfo.Phone"
                [class.is-invalid]="phone.touched && phone.invalid" pattern="[0-9]{10}" placeholder="Phone">
                <label>Mobile</label>
              </div>

              <div *ngIf="phone.errors && phone.touched">
                <span *ngIf="phone.errors['required']" class="text-danger">Field is required</span>
              <span *ngIf="phone.errors['pattern']" class="text-danger">Input must be 10 digits</span>
              </div>
            </div>

            <div class="form-group mb-3">
              <div class="form-floating">
                <input #password="ngModel" required name="password" type="password" class="form-control" [(ngModel)]="registerInfo.Password"
                [class.is-invalid]="password.touched && password.invalid" placeholder="Password">
                <label>Password</label>
              </div>

              <span *ngIf="password.touched && password.invalid" class="text-danger">Field is required</span>
            </div>

            <div class="form-group mb-3">
              <div class="form-floating">
                <input #address="ngModel" [(ngModel)]="registerInfo.Address" name="address" type="text"
                class="form-control" placeholder="Address">
                <label for="address">Address</label>
              </div>
            </div>

            <div class="mt-2 btncontainer">
              <button type="submit" class="btn btn-primary mb-3" style="margin-right: 0.5vw; float: right;"
              [disabled]="registerForm.form.invalid">Submit</button>
            </div>

          </form>
        </div>

      </div>
    </div>
            <!-- {{registerInfo | json}} -->
</div>
