<div class="container">
  <div class="card col-lg-6 col-12 m-auto">
    <div class="m-auto col-12">
      <div class="card-header" style="text-align:center">
        Register as a customer here
      </div>
      <form #registerForm="ngForm" novalidate (ngSubmit)="onSubmit(registerInfo, registerForm)">
        <div class="card-body">
          <div class="form-group">
            <label for="username">FirstName</label>
            <input #name="ngModel" required name="firstname" type="text" class="form-control" [(ngModel)]="registerInfo.FirstName"
            [class.is-invalid]="name.touched && name.invalid">

            <span *ngIf="name.touched && name.invalid" class="text-danger">Field is required</span>
          </div>

          <div class="form-group">
            <label for="username">LastName</label>
            <input #lname="ngModel" required name="lastname" type="text" class="form-control" [(ngModel)]="registerInfo.LastName"
            [class.is-invalid]="lname.touched && lname.invalid">

            <span *ngIf="lname.touched && lname.invalid" class="text-danger">Field is required</span>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input #email="ngModel" required name="email" type="email" class="form-control" [(ngModel)]="registerInfo.Email"
            [class.is-invalid]="email.touched && email.invalid" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

            <div *ngIf="email.errors && email.touched">
              <span *ngIf="email.errors['required']" class="text-danger">Field is required</span>
              <span *ngIf="email.errors['pattern']" class="text-danger">Invalid email</span>
            </div>
          </div>

          <div class="form-group">
            <label>Mobile</label>
            <input #phone="ngModel" required name="mobile" type="phone" class="form-control" [(ngModel)]="registerInfo.Phone"
            [class.is-invalid]="phone.touched && phone.invalid" pattern="[0-9]{10}">

            <div *ngIf="phone.errors && phone.touched">
              <span *ngIf="phone.errors['required']" class="text-danger">Field is required</span>
            <span *ngIf="phone.errors['pattern']" class="text-danger">Input must be 10 digits</span>
            </div>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input #password="ngModel" required name="password" type="password" class="form-control" [(ngModel)]="registerInfo.Password"
            [class.is-invalid]="password.touched && password.invalid">

            <span *ngIf="password.touched && password.invalid" class="text-danger">Field is required</span>
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input #address="ngModel" [(ngModel)]="registerInfo.Address" name="address" type="text"
            class="form-control">
          </div>
        </div>

        <div class="card-footer mt-2">
          <button type="submit" class="btn btn-primary" style="margin-right: 0.5vw;"
          [disabled]="registerForm.form.invalid">Submit</button>
          <button type="cancel" routerLink="/" class="btn btn-secondary">Cancel</button>
        </div>

        <!-- {{registerInfo | json}} -->
      </form>
    </div>
  </div>
</div>
