#footer{
  position: relative;
  top: 3vw;
}

phone-footer{
  display: none;
}

#mobileCard{
  display: none;
}

#logo{
  display:none;
}

@media screen and (max-width:600px) {
  app-footer{
    display: none;
  }

  phone-footer{
      display: block;
  }

  #desktopCard{
    display:none;
  }

  #mobileCard{
    display: block;
  }

  #logo{
    display: block;
    height: 30vh;
    border-radius: 5vw;
    width: 90vw;
  }

  #footContainer{
    display: none;
  }
}
