#footer{
  position: relative;
  top: 3vw;
}

phone-footer{
  display: none;
}

#mobileCard{
  display: none;
}

#logo{
  height: 65vh;
  border-radius: 3vw;
  width: 80vw;
}

@media screen and (max-width:600px) {
  app-footer{
    display: none;
  }

  phone-footer{
      display: flex;
  }

  #desktopCard{
    display:none;
  }

  #mobileCard{
    display: block;
  }

  #logo{
    height: 30vh;
    border-radius: 5vw;
    width: 90vw;
  }
}
