#footer{
  position: relative;
  top: 3vw;
}

phone-footer{
  display: none;
}

#mobileCard{
  display: none;
}

@media screen and (max-width:600px) {
  app-footer{
    display: none;
  }

  phone-footer{
      display: flex;
  }

  #desktopCard{
    display:none;
  }

  #mobileCard{
    display: block;
  }
}
