<div class="row">
  <div class="container mt-2 mb-3">
    <input class="form-control row-fluid" type="text" placeholder="Search name, flavor or size of product" [(ngModel)]="titles">

    <img src="assets/images\dashpic.jpeg" class="mt-3 m-auto row" id="logo" alt="Hostel Crust Logo">
  </div>

  <div class="container mt-2">
    <p class="m-auto"><strong>Collection ({{properties.length}})</strong></p>
  </div>

  <div class="shadow-lg col-sm-4 p-3 mb-5" id="desktopCard" *ngFor="let x of properties | filter:titles:'title'">
    <app-item-card [property]="x"></app-item-card>
  </div>

  <div class="mb-2" id="mobileCard" *ngFor="let x of properties | filter:titles:'title'">
    <app-mobile-item-card [property]="x"></app-mobile-item-card>
  </div>
</div>

<div class="container" style="background-color: rgb(68, 66, 66);">
  <phone-footer class="row"></phone-footer>
</div>

<div id="footContainer" style="width: 100vw; margin-left: -7vw;">
  <app-footer id="footer"></app-footer>
</div>

