@media only screen and (max-width: 600px){

    #mobileFooter{
      background-color: rgb(68, 66, 66);
      width:90vw;
        display: flex;
        margin-top: 20vw;
        font-size: 3.5vw;
    }

    #sociallinks{
        margin-left: 20vw;
        margin-top: 14vw;
    }

    address span{
        margin-right: 4vw;
    }

    #at{
        margin-left: 30vw;
        margin-top: 15vw;
        font-size: 2vw;
    }
}
